@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baskervville SC", Georgia, "Times New Roman", serif;
  background-color: rgb(240, 240, 240);
  transition: background-color 300ms ease, color 300ms ease;
}

.dark-theme * {
  background-color: #2e0000;
  color: rgba(120, 2, 199, 0.753);
  transition: background-color 300ms ease, color 300ms ease;
}

.header__height {
  height: 20vh;
}

.header__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dark-mode {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 48px;
}

.VoE__logo {
  height: 96px;
  border-radius: 9999px;
  overflow: hidden;
}

.logo__image {
  height: 100%;
}

.character__info {
  margin: 16px;
}

.character__name {
  font-size: 36px;
}

.player__name {
  font-size: 24px;
}

.hunger__container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#blood__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-droplet {
  font-size: 96px;
  margin: 12px;
}

.hunger__level--description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}

.hunger__level--description, .beast__depiction {
  font-style: italic;
  margin: 12px 48px;

}

.fa-circle-half-stroke {
  color: black;
}

.dark-theme .fa-circle-half-stroke {
  color: rgb(153, 153, 153);
}

.click {
  transition: all 300ms ease;
}

.dark-theme .VoE__logo {
  filter: invert(100);
}

.blood {
  background-color: #2e0000;
  clip-path: polygon(48% 0%, 36% 29%, 17% 50%, 14% 72%, 23% 88%, 34% 97%, 51% 100%, 68% 94%, 80% 85%, 86% 69%, 83% 50%, 73% 28%);
  display: inline-block;
  height: 104px;
  width: 96px;
  margin-left: 2px;
  transition: transform 300ms ease;
  margin: 12px;
  overflow: hidden;
}

.dark-theme .blood {
  background-color: #daa0a0;
  
}

.blood:hover {
  transform: scale(1.2);
  background-color: #c20000; /* Same as focus for consistency */
}

.blood:focus {
  transform: scale(1.2);
  background-color: #c20000;
  box-shadow: 0 0 10px #c20000; /* Adds focus visibility */
  outline: none; /* Remove default focus ring */
}

.dark-theme .blood {
  background-color: #daa0a0;
}

.dark-theme .blood-filled {
  background-color: #c20000; /* Ensure blood-filled color applies in dark mode */
}

.dark-theme .blood:hover, .dark-theme .blood:focus {
  background-color: #c20000; /* Same color when focused or hovered */
}


.hunger-rating {
  cursor: pointer;
  display: flex;
  list-style-type: none;
}

.blood-filled {
  background-color: #c20000;

}

